    body {
        background-color: black;
        font-family: Helvetica;
        font-size: 22px;
        color: seashell;
        opacity: 0.9;
    }
    header {
        height: 69px;
        width: 100%;
        position: fixed;
    }
    .top-banner-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
        width: 100%;
        height: 700px;
    }
    .top-banner-sect-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: white;
        background-color: black;
    }
